.glitch-wrapper {
    display: inline-block;
    position: relative;
}

.glitch-text {
    position: relative;
    color: white;
    margin: 0;
}


.glitch-wrapper:hover .glitch-text::before,
.glitch-wrapper:hover .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;

}


.glitch-wrapper:hover .glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 #ff00c1;
    clip-path: inset(44% 0 61% 0);
    animation: glitch-anim-1 0.4s infinite linear alternate-reverse;
}


.glitch-wrapper:hover .glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 #00fff9;
    clip-path: inset(50% 0 30% 0);
    animation: glitch-anim-2 0.4s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
    }

    80% {
        clip-path: inset(10% 0 70% 0);
    }

    100% {
        clip-path: inset(30% 0 20% 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
    }

    20% {
        clip-path: inset(30% 0 10% 0);
    }

    40% {
        clip-path: inset(80% 0 5% 0);
    }

    60% {
        clip-path: inset(20% 0 70% 0);
    }

    80% {
        clip-path: inset(50% 0 30% 0);
    }

    100% {
        clip-path: inset(10% 0 90% 0);
    }
}